<!DOCTYPE html>

<html>
<head>

</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="container">

        <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button" id="collapseBtn">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand"><b><font size="5">Express YourSelf</font></b></a>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-center">
                <li>
                    <a href="/profiles"><font size="4">Pazienti</font></a>
                </li>

                <li>
                    <a href="/all_videos"><font size="4">Video</font></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/" id="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                </li>
            </ul>
        </div>

    </div>
</div>

</body>
</html>