<!DOCTYPE html>

<html>
<head>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <a class="navbar-brand" href="/home">Express YourSelf</a>

    </div>
</div><!-- end navbar -->

<!--<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>-->

</body>
</html>