<!DOCTYPE html>

<html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Indie+Flower');

        * {
            font-family: 'Gill Sans', sans-serif;
            font-size: 20px;
        }
    </style>

</head>

<body>


<div class="navbar navbar-fixed-top">
    <div class="container">

        <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button" id="collapseBtn">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-brand" id="logo">Express YourSelf</div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/profiles" id="logout"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>

        </div>

    </div>
</div>

</body>
</html>