<!DOCTYPE html>
<html>
<head>

    <!-- Website Title & Description for Search Engine purposes -->
    <title></title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--<script src="collections/collections.min.js">-->
    <!-- First try for the online version of jQuery-->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- If no online access, fallback to our hardcoded version of jQuery -->
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

    <!-- Ajax -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js" ></script>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>

<div class="container">

    <div>
        <%include partials/header.ejs%>
    </div>

    <% video.forEach(function(elem, index) {%>
        <div class="container">
            <div class="row top-video-row" id="newVideoRow">
                <h2 id="emotionString" class="pull-left"><%= emotions[index] %></h2>
                <button style="margin-right: 30px; margin-top: 10px;" type="button" id="addVideo-<%= elem.emotion%>" href="#"
                        class="btn btn-success btn-lg pull-right" role="button" >Nuovo video</button>
            </div>

            <div class="row" id="scrollRow">
                <% elem.files.forEach(function(el){%>
                    <div class="col-xs-4" id="MyImage2">
                        <div id="btn-wrapper" video = "<%= el.filename.video%>">
                            <img id="theImage" src="/video/thumbnail?filename=<%= el.filename.thumbnail%>" class="img-responsive">
                            <a class="preview" id="myButton2" type="button" modalbutton = "true" >
                                <span class="video-link-icon"><i class="glyphicon glyphicon-play"></i></span>
                            </a></div>
                        <a href="#" id="delete2" class="btn btn-default btn-danger" role="button">ELIMINA</a>
                    </div>
                <%});%>
            </div>

        </div>
    <% });%>

    <!-- BEGIN # MODAL ADD VIDEO -->
    <div class="modal fade" id="addvideo-modal" tabindex="-1" role="dialog" align="center" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>


                <div class="modal-body" id="video-form">
                    <div id="div-login-msg">
                        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                        <span id="text-login-msg">Aggiungi un video</span>
                    </div>
                    <form id="addVideoForm" ref="form" encType="multipart/form-data" action="/video/upload" method="POST">
                        <input id="emotion" class="form-control" type="hidden">
                        <input type="file" id="inputFile" name="file" accept="video/* ">
                        <input type="submit" name="submit" value="Submit">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- END # ADD VIDEO -->

    <!-- MODAL -->
    <div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video controls autoplay id="videotoshow" class="embed-responsive-item" src=""></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <%include partials/footer.ejs%>

    <!-- Custom JS -->
    <script>
        document.addEventListener("DOMContentLoaded", function(){

            $('[id^="addVideo-"]').click(function(event){
                var emotion = event.target.getAttribute('id').split('-')[1];
                $('[id^="addVideoForm"]').children()[0].setAttribute("value", emotion);
                $('#addvideo-modal').modal('show');
            });

            $('[id^="addVideoForm"]').submit(function(e){
                e.preventDefault();
                console.log(this.children[0].value);

                $(this).ajaxSubmit({
                    data: {
                        emotion: this.children[0].value
                    },
                    contentType: 'application/json',
                    success: function(response){
                        console.log(response);
                        setTimeout(function() {
                            window.location.href = "/all_videos";
                        }, 500);
                    }
                });
                return false;
            });

            $('[id^="delete"]').click(function(event){
                var thumbnail = event.target.parentElement.children[0].children[0].src.split("?")[1].split("=")[1];
                var video = event.target.parentElement.children[0].getAttribute("video");

                $.post("http://localhost:3000/video/delete", {
                    thumbnail: thumbnail,
                    video : video
                }, function(){
                    location.href="/all_videos"
                });
            });

            $('[id^="btn-wrapper"]').click(function(event){
                    var video = document.getElementById("videotoshow");
                    var src = "/video?filename=" + event.target.closest('div').getAttribute("video");
                    video.src = src;
                    $('#modal-video').modal('show');
            });

            $('[id^="close-btn"]').click(function(event){
                var video = document.getElementById("videotoshow");
                video.src="";
            });

            $('[id^="modal-video"]').click(function(event){
                var video = document.getElementById("videotoshow");
                video.src="";
            });

        });
    </script>
</body>

