<!DOCTYPE html>

<html>
<head>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container-fluid" id="carouselContainer">

        <div>
            <%include partials/header-home.ejs%>
        </div>

        <div class="carousel slide" id="homeCarousel">

            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#homeCarousel"></li>
                <li data-slide-to="1" data-target="#homeCarousel"></li>
                <li data-slide-to="2" data-target="#homeCarousel"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active" id="slide1">
                    <div class="carousel-caption">
                        <h3>Esprimi le tue emozioni.</h3>
                    </div>
                </div>

                <div class="item" id="slide2">
                    <div class="carousel-caption">
                        <h3>Migliora la tua empatia.</h3>
                    </div>
                </div>

                <div class="item" id="slide3">
                    <div class="carousel-caption">
                        <h3 id="lastSlide">Monitora i tuoi progressi.</h3>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" data-slide="prev" href="#homeCarousel"><span class="icon-prev"></span></a>
            <a class="right carousel-control" data-slide="next" href="#homeCarousel"><span class="icon-next"></span></a>

        </div>

    </div>

    <div class="container">
        <div class="row top-buffer">

            <div class="col-sm-4">
                <div class="well">
                    <p class="text-center">
                        Il sistema permette di registrare in real-time la conversazione del paziente per poi analizzarne
                        le parole e restituire un grafico con le emozioni scaturite dalla conversazione analizzata. <br>
                        Le emozioni considerate durante l'analisi sono le seguenti: Rabbia, Disgusto, Paura, Gioia e Tristezza.
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <p class="text-center">
                        In base all'emozione predominante ottenuta dall'analisi precedente, vengono proposti al paziente
                        dei brevi spezzoni di cartoni animati, di cui uno solo rappresenta l'emozione in questione.
                        Viene quindi chiesto al paziente di scegliere il video corretto tra quelli proposti.
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <p class="text-center">
                        Ogni sessione col paziente viene registrata nel sistema per monitorare, tramite un punteggio,
                        eventuali miglioramenti nel processo di scelta del video corretto. <br>
                        L'obiettivo è di migliorare nel paziente la consapevolezza delle proprie emozioni e il livello di empatia.
                    </p>
                </div>
            </div>

        </div>
    </div>
</body>
</html>