<!DOCTYPE html>
<html>
<head>

  <!-- Website Title & Description for Search Engine purposes -->
  <title></title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Include Modernizr in the head, before any other Javascript -->
  <!-- <script src="includes/js/modernizr-2.6.2.min.js"></script> -->

</head>
<body>


<div class="container">

    <div>
        <%include partials/header.ejs%>
    </div>

    <div class="row top-buffer">
        <div class="col-sm-2">
            <button type="button" class="btn btn-success btn-lg" id="startBtn" disabled="disabled">Start</button>
            <button type="button" class="btn btn-danger btn-lg" id="stopBtn" disabled="disabled">Stop</button>
        </div>
    </div>

    <div class="row top-buffer">

        <div class="col-sm-5">
            <b><font size="4">Registrazione in corso:</font></b>
            <textarea id="hypothesisDiv" class="form-control animated"></textarea>
        </div>

        <div class="col-sm-5">
            <b><font size="4">Risultati:</font></b>
            <textarea id="phraseDiv" class="form-control animated"></textarea>
        </div>

    </div>

    <div class="row top-buffer" id="analysisRow">
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-lg" id="analyzeBtn" disabled="disabled">Analyze</button>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-sm-5">

            <canvas id="myChart"></canvas>

            <textarea id="analysisDiv" class="form-control animated"></textarea>
        </div>
    </div>

</div>


<%include partials/footer.ejs%>


  <!-- The SDK has a dependency on requirejs (http://requirejs.org/). -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>

  <!-- SDK REFERENCE -->
  <script src="scripts/speech.browser.sdk.js"></script>
  <!-- Speech to text -->
  <script src="javascripts/speech-to-text.js"></script>

  <!-- First try for the online version of jQuery-->
  <script src="http://code.jquery.com/jquery.js"></script>

  <!-- If no online access, fallback to our hardcoded version of jQuery -->
  <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

  <!-- Bootstrap JS -->
  <script src="/js/bootstrap.min.js"></script>

  <!-- Chart JS -->
  <script src="scripts/Chart.js"></script>

  <script>
      var ctx = document.getElementById("myChart");

      var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              datasets: [{
                  data: [10, 20, 30]
              }],

              labels: ['Red', 'Yellow', 'Blue']
          },
          options: options
      });
  </script>

  <!-- AutoResize -->
    <script src="javascripts/autoResize-textArea.js"></script>

    <script>
        $(function(){
            $('.normal').autosize();
            $('.animated').autosize({append: "\n"});
        });
    </script>

  <!-- Custom JS -->
    <script>
        $(function(){
            $("#header").load("header.ejs");
            $("#footer").load("footer.ejs");
        });
    </script>

</body>
</html>
