<!DOCTYPE html>
<html>
<head>

  <!-- Website Title & Description for Search Engine purposes -->
  <title></title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Include Modernizr in the head, before any other Javascript -->
  <!-- <script src="includes/js/modernizr-2.6.2.min.js"></script> -->

</head>
<body style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:13px;">
  <table width="100%">
    <tr>
      <td></td>
    </tr>
    <tr>
      <td align="right">Format:</td>
      <td align="left">
        <select id="formatOptions">
          <option value="Simple" selected="selected">Simple Result</option>
          <option value="Detailed">Detailed Result</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button id="startBtn" disabled="disabled">Start</button>
        <button id="stopBtn" disabled="disabled">Stop</button>
        <button id="analyzeBtn" disabled="disabled">Analyze</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <table>
          <tr>
            <td>Results:</td>
            <td>Current hypothesis:</td>
          </tr>
          <tr>
            <td>
              <textarea id="phraseDiv" style="display: inline-block;width:500px;height:200px"></textarea>
            </td>
            <td style="vertical-align: top">
              <span id="hypothesisDiv" style="width:200px;height:200px;display:block;"></span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="right">Status:</td>
      <td align="left"><span id="statusDiv"></span></td>
    </tr>
  </table>

  <!-- The SDK has a dependency on requirejs (http://requirejs.org/). -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>

  <!-- SDK REFERENCE -->
  <script src="scripts/speech.browser.sdk.js"></script>
  <!-- Speech to text -->
  <script src="javascripts/speech-to-text.js"></script>

  <!-- First try for the online version of jQuery-->
  <script src="http://code.jquery.com/jquery.js"></script>

  <!-- If no online access, fallback to our hardcoded version of jQuery -->
  <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

  <!-- Bootstrap JS -->
  <script src="/js/bootstrap.min.js"></script>

</body>
</html>
