body {
  padding: 70px;
  background-color: rgba(153, 204, 255, 0.3) !important;
}

a {
  color: white;
}


/* --- navbar --- */
.navbar {
  background-color: rgba(0,102,255,.8);
  height: 50px !important;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: blue;
  color: white;
}

.navbar .navbar-brand {
  color: white;
}

#logout:hover{
  background-color: blue;
  color: white;
}

#logout:focus{
  background-color: blue;
  color: white;
}

#logout {
  color: white;
}

.navbar-toggle .icon-bar{
  background-color: white;
}

#collapseBtn {
  border-color: white;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
/*--- end navbar ---*/

/*---------------------------
          session1.ejs
 --------------------------*/

  /*--- textArea ---*/
  .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
  }

  /**--- rows with padding ---*/
  .top-buffer { margin-top:20px; }

  #analysisRow {margin-top: 60px;}

  #chartContainer {margin-top: 60px;}

  /*--- stopBtn ---*/
  #stopBtn {
    margin-left: 10px;
  }

  /*--- chart ---*/
  #myChart {
    width: 100%;
    height: auto;
  }

/*---------------------------
          home.ejs
 --------------------------*/

#logo {
  font-size: 28px;
  font-family: 'Indie Flower', cursive !important;
}

  /*--- carousel ---*/
  #carouselContainer {max-width: 1000px;}

  #homeCarousel .item {
    height: 625px;
  }

  #homeCarousel {
    margin-top: 0px;
  }

  #homeCarousel .carousel-caption h3{
    padding-bottom: 450px;
    padding-right: 170px;
    text-align: left;
    font-size: 40px;
    font-style: italic;
  }

  #lastSlide {color: black;}

  #slide1{
    background: url('../images/insideout-01.jpg') top center no-repeat;
  }

  #slide2{
    background: url('../img/slider/video.jpg') top center no-repeat;
  }

  #slide3{
    background: url('../images/progress-chart.jpg') top center no-repeat;
  }
  /*--- end carousel ---*/

  .well {
    background: #0066FF !important;
    color: white;
    font-size: 18px;
    font-style: italic;

    border-radius: 20px !important;
  }



/*---------------------------
          session2.ejs
 --------------------------*/

  /*--- video ---*/
  .video{
    horiz-align: left;
    max-width : 400px;
    max-height: 400px;
  }

      .radio-button-video{
          position: relative;
          top: 100px;
      }

      @media only screen and (max-width : 480px) {
        .radio-button-video{
          position: relative;
          top: 70px;
        }
      }
      
      .top-video-row{ margin-top: 20px;}

      #MyImage {
        margin: 20px auto 0;
        width: 80%;
        max-width: 400px;
      }
      
      #theImage {
        display: block;
        position: relative;
        width: 100%;
      }
      #myButton {
        position: absolute;
        top: 60%; left: 50%;
        transform: translate(-50%,-50%);
        height: 50%;
        width: 50%;
        text-align: center;
      }

      a .video-link-icon {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        background: #4169E1;
        color: #fff;
        line-height: 50px;
        -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
        -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
      }

      a:hover .video-link-icon,
      a:focus .video-link-icon {
        outline: 0;
        background: #fff;
        color: #4169E1;
      }

  /*--- modal ---*/
    .modal-backdrop.in {
      filter: alpha(opacity=7);
      opacity: 0.9;
    }

    .modal-content {
      background: none;
      border: 0;
      -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
      -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    }

    .modal-body {
      padding: 0 25px 25px 25px;
    }

    .modal-header {
      padding: 25px 25px 15px 25px;
      text-align: right;
    }

    .modal-header, .modal-footer {
      border: 0;
    }

    .modal-header .close {
      float: none;
      margin: 0;
      font-size: 36px;
      color: #fff;
      font-weight: 300;
      text-shadow: none;
      opacity: 1;
    }

    @media (min-width: 768px) {
      .modal-dialog {
        width: 800px;
        margin: 30px auto;
      }
  }

  /*--- end modal ---*/

/*--- end session2.ejs ---*/



/*---------------------------
          profiles.ejs
 --------------------------*/

  /*--- new profile button ---*/
  #prof{
    left: 50%;
    text-align: center;
  }

  /*--- users ---*/
  #users{ margin-top: 20px;}

  /*--- btn visualizza ---*/
  #enter {margin-bottom: 5px;}

#profilo {
  opacity: 0.85;
  filter: alpha(opacity=75); /* For IE8 and earlier */
}

#profilo:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

  /*--- popup profile ---*/
  @import url(http://fonts.googleapis.com/css?family=Roboto);

  * {
    font-family: 'Roboto', sans-serif;
  }

  #registerModal .modal-dialog {
    width: 350px;
  }

  #registerModal input[type=text], input[type=password] {
    margin-top: 10px;
  }

  #div-login-msg,
  #div-lost-msg,
  #div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
  }

  #div-login-msg.success,
  #div-lost-msg.success,
  #div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
  }

  #div-login-msg.error,
  #div-lost-msg.error,
  #div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
  }

  #icon-login-msg,
  #icon-lost-msg,
  #icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
  }

  #icon-login-msg.success,
  #icon-lost-msg.success,
  #icon-register-msg.success {
    background-color: #68c3a3 !important;
  }

  #icon-login-msg.error,
  #icon-lost-msg.error,
  #icon-register-msg.error {
    background-color: #eb575b !important;
  }

  #img_logo {
    max-height: 100px;
    max-width: 100px;
  }

  /* #########################################
     #    override the bootstrap configs     #
     ######################################### */

  .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
  }

  .modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
  }

  .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
  }

  .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
  }

  .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
  }

  .checkbox {
    margin-bottom: 0px;
  }

  .btn {
    border-radius: 0px;
  }

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: none;
  }

  .btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
  }

  .btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
  }

  .btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
  }

  .glyphicon {
    top: 0px;
  }

  .form-control {
    border-radius: 0px;
      margin-top: 1vh;
  }
  /*--- popup profile ---*/

/*--- end profile.ejs ---*/




/*---------------------------
          user.ejs
 --------------------------*/

  .table {
    background-color: white !important;
  }

  .table th {
    text-align: center;
  }

  .table td {
    text-align: center;
  }

  #disabilities {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .list-group-item
  {
    overflow:hidden;
  }

  .vertical-align {
    display: flex;
    align-items: center;
  }

  .image{
    width: 20vh;
  }

  #utente {
      font-size: 4vw;
      font-family:  'Gloria Hallelujah', cursive;
  }

  #print{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  table {
    width: 100%;
  }

table {
  width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 47px;
}

tbody {
  height: 250px;
  overflow-y: auto;
}

thead {
  /* fallback */
}


tbody td, thead th {
  width: 25%;
  float: left;
}

.note {
  width:65%;
}

.note td{
  text-align: left;
}

.sess_head{
  height: 6.5vh;
}

@media (max-width: 1024px) {
  .sess_head {
    font-size: 1.7vh;
  }
}



/*---------------------------
        all_videos.ejs
--------------------------*/

  #delete2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #scrollRow {
    overflow-x: auto;
    white-space: nowrap;
    background-color: rgb(204, 224, 255);
    border-radius: 0px 0px 20px 20px;
    border: 3px solid;
    border-color: #0066FF;
    border-top-color: rgb(204, 224, 255);
  }

  #MyImage2 {
    margin: 20px auto 0;
    width: 100%;
    max-width: 400px;
    display: inline-block;
    float: none;
  }


  #emotionString{
    margin-left: 30px;
    font-size: 33px;
    font-weight: bold;
    alignment: center;
  }

  #myButton2 {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 50%;
    text-align: center;
  }

  #newVideoRow {
    margin-top: 50px;
    background-color: rgb(204, 224, 255);
    border-radius: 20px 20px 0px 0px;
    border: 3px solid;
    border-color: #0066FF;
  }
