body {
  padding: 70px;
}

a {
  color: white;
}

/*--- index.ejs ---*/

  /* --- navbar --- */
  .navbar {
    background-color: #709dff;
  }

  .navbar .navbar-brand {
    color: white;
  }

  #logout {
    color: white;
  }

  .navbar-toggle .icon-bar{
    background-color: white;
  }

  #collapseBtn {
    border-color: white;
  }

  @media (min-width: 768px) {
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  }
  /*--- end navbar ---*/


  /*--- textArea ---*/
  .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
  }

  /**--- Rows with padding ---*/
  .top-buffer { margin-top:20px; }

  #analysisRow {margin-top: 60px;}

  /*--- stopBtn ---*/
  #stopBtn {
    margin-left: 10px;
  }

/*--- end index.ejs ---*/