body {
  padding: 70px;
}

a {
  color: white;
}

/*---------------------------
          session1.ejs
 --------------------------*/

  /* --- navbar --- */
  .navbar {
    background-color: #709dff;
  }

  .navbar .navbar-brand {
    color: white;
  }

  #logout {
    color: white;
  }

  .navbar-toggle .icon-bar{
    background-color: white;
  }

  #collapseBtn {
    border-color: white;
  }

  @media (min-width: 768px) {
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  }


  /*--- textArea ---*/
  .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
  }

  /**--- rows with padding ---*/
  .top-buffer { margin-top:20px; }

  #analysisRow {margin-top: 60px;}

  #chartContainer {margin-top: 60px;}

  /*--- stopBtn ---*/
  #stopBtn {
    margin-left: 10px;
  }

  /*--- chart ---*/
  #myChart {
    width: 100%;
    height: auto;
  }

/*---------------------------
          home.ejs
 --------------------------*/

  /*--- carousel ---*/
  #carouselContainer {max-width: 1000px;}

  #homeCarousel .item {
    height: 625px;
  }

  #homeCarousel {
    margin-top: 0px;
  }

  #homeCarousel .carousel-caption h3{
    padding-bottom: 450px;
    padding-right: 160px;
    text-align: left;
    font-size: 40px;
    font-style: italic;
  }

  #lastSlide {color: black;}

  #slide1{
    background: url('../images/insideout-01.jpg') top center no-repeat;
  }

  #slide2{
    background: url('../images/video.jpg') top center no-repeat;
  }

  #slide3{
    background: url('../images/progress-chart.jpg') top center no-repeat;
  }
  /*--- end carousel ---*/


/*--- session.ejs ---*/

  /*--- video ---*/
  .video{
    horiz-align: left;
    max-width : 400px;
    max-height: 400px;
  }
  /*--- end video ---*/

  /*--- radio-button-video ---*/
  .radio-button-video{
      position: absolute;
      top: 100px;
  }

  .top-video-row{ margin-top: 20px;}
  /*--- end radio-button-video ---*/

  /*--- modal ---*/

      #MyImage {
        position: relative;
        margin: 20px auto 0;
        width: 100%;
        max-width: 400px;
      }
      #theImage {
        display: block;
        position: relative;
        width: 100%;
      }
      #myButton {
        position: absolute;
        left: 170px;
        top: 120px;
        text-align: center;
      }
    a .video-link-icon {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 10px;
      background: #4169E1;
      color: #fff;
      line-height: 50px;
      -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
      -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    }

    a:hover .video-link-icon,
    a:focus .video-link-icon {
      outline: 0;
      background: #fff;
      color: #4169E1;
    }

    .modal-backdrop.in {
      filter: alpha(opacity=7);
      opacity: 0.9;
    }

    .modal-content {
      background: none;
      border: 0;
      -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
      -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    }

    .modal-body {
      padding: 0 25px 25px 25px;
    }

    .modal-header {
      padding: 25px 25px 15px 25px;
      text-align: right;
    }

    .modal-header, .modal-footer {
      border: 0;
    }

    .modal-header .close {
      float: none;
      margin: 0;
      font-size: 36px;
      color: #fff;
      font-weight: 300;
      text-shadow: none;
      opacity: 1;
    }
  @media (min-width: 768px) {
    .modal-dialog {
      width: 800px;
      margin: 30px auto;
    }
  }


    /*--- end modal ---*/

/*--- end session.ejs ---*/



/*--- profiles.ejs ---*/

/*--- bottone new session ---*/
#prof{
  left: 50%;
  text-align: center;
}
/*--- end bottone new session ---*/

/*--- users ---*/
#users{ margin-top: 50px;}
/*--- end users ---*/

/*--- popup profile ---*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
  font-family: 'Roboto', sans-serif;
}

#registerModal .modal-dialog {
  width: 350px;
}

#registerModal input[type=text], input[type=password] {
  margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
  border: 1px solid #dadfe1;
  height: 30px;
  line-height: 28px;
  transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
  border: 1px solid #68c3a3;
  background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
  border: 1px solid #eb575b;
  background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
  width: 30px;
  float: left;
  line-height: 28px;
  text-align: center;
  background-color: #dadfe1;
  margin-right: 5px;
  transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
  background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
  background-color: #eb575b !important;
}

#img_logo {
  max-height: 100px;
  max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8;
}

.modal-content {
  background-color: #ececec;
  border: 1px solid #bdc3c7;
  border-radius: 0px;
  outline: 0;
}

.modal-header {
  min-height: 16.43px;
  padding: 15px 15px 15px 15px;
  border-bottom: 0px;
}

.modal-body {
  position: relative;
  padding: 5px 15px 5px 15px;
}

.modal-footer {
  padding: 15px 15px 15px 15px;
  text-align: left;
  border-top: 0px;
}

.checkbox {
  margin-bottom: 0px;
}

.btn {
  border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.btn-lg, .btn-group-lg>.btn {
  border-radius: 0px;
}

.btn-link {
  padding: 5px 10px 0px 0px;
  color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
  color: #2c3e50;
  text-decoration: none;
}

.glyphicon {
  top: 0px;
}

.form-control {
  border-radius: 0px;
}
/*--- popup profile ---*/

/*--- end profile.ejs ---*/
